/****** Object:  StoredProcedure [dbo].[NomencladorPracticasGet]    Script Date: 07/29/2019 17:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[NomencladorPracticasGet]
as
begin
select codigo,modulo,maximo,minimo,cueFlag, dependencia from NomencladorPracticas 
end


